@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
  display: flex;
  height: 100vh;
  font-family: "Poppins"
}

.sidebar {
  width: 300px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  color: #111;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-list {
  height: calc(100vh - 29px);
}

.contact {
  padding: 15px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  margin: 2px;
  font-size: 16px;
}
.createbtn {
  background-color: goldenrod;
  padding: 5px 10px;
  border: 0;
  font-size: 14x;
  border-radius: 30px;
  position: absolute;
    bottom: -12px;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-weight: 600;
    color:  rgb(71, 0, 71);
    max-width: 130px;
}

.contact:hover {
  background-color: rgb(71, 0, 71);
  color: #fff;
}
.group-list {
  height: 100%;
  background: #fff;
  padding: 20px 0;
  border-radius: 30px 0 0 0;
}


.chat-window {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}
.creategroup {
  padding: 10px;
  border-radius: 0 0 20px 0;
  height: 60px;
position: relative;
  background: rgb(71, 0, 71);
}
.groups {

  background: rgb(71, 0, 71);
}

.message {
  margin: 10px 0;
}

.message-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.message-input button {
  border-radius: 10px;
  cursor: pointer;
}


.message.incoming {
  align-self: flex-start;
    background-color: #bfdbf9;
    border-bottom-left-radius: 0;
    padding: 10px;
    min-width: 100px;
    border-radius: 20px;
    color: #111;
    margin-bottom: 20px;
    width: max-content;
    font-size: 16px;
}

.message.outgoing {

  background-color: #4e0046;
  border-bottom-right-radius: 0;
  min-width: 100px;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  width: max-content;
  margin-left: auto;
  position: relative;

  margin-bottom: 20px;
}
.message.outgoing .name {
  position: absolute;
  bottom: -15px;
  right: 5px;
  color: #111;
  font-size: 12px;
}
.message-content {
  white-space: pre-wrap;
}
.chatHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #4e0046;
  color: #fff;
  height: 60px;
  align-items: center;
}
.chatHeader .title {
  font-size: 18px;
}